body {
  background-color: #10121d;
  color: #ffffff;
  transition: background-color 0.5s ease;
}
.navbar { background-color: #212121; }
.navbar-light .navbar-nav .nav-link { color: #ffffff; }
.navbar-light .navbar-brand { color: #ffffff; }
.navbar-light .navbar-nav .nav-link.active { font-weight: bold; color: #ffffff; }
.card { margin-bottom: 20px; background-color: #212121; color: #ffffff; }
.dropdown-menu { background-color: rgb(146, 146, 146) ; }
#searchPage .container { margin-top: 20px; }
#content { padding-top: 56px; }   

.card:hover {
  cursor: pointer;
}   
